<% layout('layout'); -%>

<% block('header_link', '<link rel="stylesheet" href="/public/stylesheets/login.css" />'); -%>

<div class="container">

  <form method="post" id="messageForm" class="form-signin">
    <h2 class="form-signin-heading"><%= title %></h2>
    <% if (error != '') {%>
    <div class="alert alert-danger" role="alert"><span></span><%= error %></div>
    <% } %>
    <input type="text" name="userName" id="inputName" placeholder="username" class="form-control" required autofocus>
    <input type="password" name="passWord" id="inputPass" placeholder="password" class="form-control" required>
    <input type="password" name="rePassWord" id="inputRePass" placeholder="確認" class="form-control" required>
    <input type="submit" class="btn btn-lg btn-success btn-block" value="登録">
  </form>

</div>
