body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  letter-spacing: -.01em;
}
#main {
  height: 80vh;
}
#main > div {
  height: 100%;
}
#contact, #dashboard {
  height: 100%;
}
#contact {
  overflow: hidden;
}
.contact-body {
  overflow-y: scroll;
  height: 91.3%;
}
#dashboard {
  background-color: #F4F4F2;
  position: relative;
  overflow: hidden;
}
.dashboard-head {
  position: relative; width: 100%;
}
.board {
  position: absolute;
  height: 81%;
  width: 100%;
  overflow-y: scroll;
}
.panel-footer {
  background-color: #333;
  position: absolute;
  width: 100%;
  bottom:0;
}
#messageForm {
  width: 100%;
  padding: 3px;
  display: inline-block;
}
#messageForm div {
  padding-left: 0;
}
#messageForm div:nth-child(2) {
  padding-right: 0;
}
.me {
  text-align: right;
}
.name {
  display: inline-block;
  width: 6%;
  overflow: hidden;
}
.message {
  max-width: 80%;
  display: inline-block;
  border-radius: 7px;
}
.you .message {
  background-color: #FFF;
  border-bottom-left-radius: 0px;
}
.me .message {
  background-color: #40AAEF;
  border-bottom-right-radius: 0px;
  color: #FFF;
}
.message span {
  display: inline;
}
